body {
    font-family: Roboto, sans-serif;
    margin: 2em;
    color: #3d3d3d;
  }
  
  h1 {
    color: #007f8b;
  }
  
  h2 {
    clear: both;
  }
  
  .videoView {
    position: relative;
    margin: 2% 0;
  }
  
  #output_canvas {
    transform: rotateY(180deg);
    position: absolute;
    left: 0;
    top: 0;
  }
  
  video {
    transform: rotateY(180deg);
  }
  
  button {
    margin-bottom: 10px;
  }
  
  #message {
    font-size: 24px;
    font-weight: bold;
    padding: 15px;
    margin-top: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    text-align: center;
}